.wrapper {
  padding: 0 30 30 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "SBAggroM";
}

.wrapper h1 {
  font-size: 30px;
  margin: 0;
  width: 280px;
}

.gnb {
  display: flex;
  justify-content: flex-end;
}

.ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}

.wrapper li {
  padding: 10px;
  cursor: pointer;
  width: 100px;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left img {
  margin-right: 20px;
}
