.title {
  color: red;
}

.main {
  padding: 20px;
  flex-basis: 100%;
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: -50px;
}

.dateWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dateWrapper > button {
  width: 200px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  background-color: rgb(184, 243, 41);
}

.graphWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  height: 400px;
}

.graphWrapper__header {
  margin-bottom: 40px;
}

/* .graphWrapper > div {
  width: fit-content;
} */

.btn {
  border: 1px solid #aeaeae;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  background-color: white;
}

.graphWrapper div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graphWrapper div:first-child h4 {
  margin-right: 10px;
}

.graphWrapper div:nth-child(2) {
  height: 300px;
  display: flex;
  align-items: center;
}

.graphWrapper__btn {
  margin-top: 30px;
}

.show {
  margin: 30px;
  display: flex;
  justify-content: flex-start;
}

.tableWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.tableHeader button:first-child {
  margin-right: 30px;
}

.tableHeader__btn {
  width: 100px;
  height: 40px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  background-color: rgb(184, 243, 41);
}

input {
  width: 400px;
  height: 60px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  padding: 5px;
}

.header {
  color: rgb(184, 243, 41);
}

.mainWrapper {
  background-image: url(../images/pg.JPG);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  width: 200px;
  height: 80px;
  background-color: rgb(184, 243, 41);
  border-radius: 10px;
  border: 0px;
}

@page {
  size: A4;
  margin: 20mm;
}

.Calendar {
  position: absolute;
  z-index: 100;
}
