/*
layout은 화면의 왼쪽에 수직으로 구성된다.
*/
.layout {
    width: 200px;

    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: auto
}

.layout > * {
    width: 100%;
  }
  