/*
layout은 화면의 왼쪽에 수직으로 구성된다.
*/
.layout {
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 244, 218);
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.layout > * {
  width: 100%;
}

.navbar {
  background-color: red;
  margin: 0px;
}

.navBarMenu {
  list-style: none;
  background-color: orange;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: auto;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.navBarMenu li {
  flex-basis: 50px;

  background-color: green;
  /* margin-right: 100px; */
  margin: 0px;
  border-bottom: 1px solid white;
}

.link {
  margin: 0px;
  text-decoration: none;
  color: white;
  background-color: red;
  display: flex;
  display: none;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}

ul li {
  list-style: none;
}

.link li {
  /* display: none; */
}

.list {
  margin: 0px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}

.list :hover {
  background-color: lightgreen;
  .link {
    display: inline;
  }
}
